* {
    color : #ffffff;
    font-family: 'Roboto', sans-serif;
}

input {
    color : #000000;
}
form {
    background-color: #000;
    margin : 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 20px;
    border-radius: 25px;
}

#btn-submit {
    margin : 20px;
    background-color: #04aa6d;
    padding : 10px;
    border : none;
    border-radius: 5px;
}

#btn-submit:hover {
    background-color: #3e8e41;
    transition: 0.5s;
    
}